
.card {
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.card:hover{
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img{
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover img {
  transform: scale(1.02);
}

.img-box {
  overflow: hidden;
}

.img-box a img {
    margin: 5px 0px 5px 0px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.img-box a img:hover {
    transform: scale(1.02);
}