
/* Text */

h3 {
    font-size: 20px;
    font-variant-caps: all-small-caps;
    font-weight: 400;
}

h2 {

}
/* 
p {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
} */
